.jumbotron {
	padding: 1.5rem; 
	margin-bottom: 0rem;
}

#inputPanelTitle {
	padding: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

#inputPanel {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: #54a4f9;
}

.col-lg-9 {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
