/* 
 * CSS Styling for variant Viewer
 * Matt Cumming
 * July 2018
 */
html, body {
	height:100%;
}

.flex-fill {
	flex:1;
}

#inputPanel {	
	background-color: #73956f;
	padding: 10px;
}

.inputPanelItem {
	padding: 8px;
	background-color: #8DB088;
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 5px;
}

.inputPanelHeader {
	background-color: #6c757d;
	border-radius: 5px;
	margin-bottom: 5px;
}

.inputLabel > h4 {
	padding-left: 5px;
	color: white;
	"blur":text-shadow: -1px 0 #343a40, 0 1px #343a40, 1px 0 #343a40, 0 -1px #343a40;
}

.inputLabel {
	margin-bottom: 0;
}

.btn-secondary {
	margin-top: 5px;
	margin-left: 1px;
	margin-right: 1px;
}

#splash {
	margin-top: 8px;
	margin-bottom: 8px;
}

span.varView {
	color: darkgreen;
	font-weight: bold;
}

.geneHeader {
	padding-top: 6px;
	padding-bottom: 0;
	text-align: left;
}

.table-hover > tr {
	background-color: lightgrey;
	border-radius:5px;
}





